.jumbotron {
    position: relative;
    padding: 190px 0px 120px 0px;
    background-attachment: fixed;
    background: url('../img/3.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   }
.styles {
    background-color: rgb(244, 245, 244);
}